#title-header {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    color: whitesmoke;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    margin: auto;
    display: flex;
    margin-bottom: 0px;
}

.flexbox-container-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flexbox-titles {
    margin: 10px;
}

.flexbox-container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.flexbox-display {
    border: 3px solid whitesmoke;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.flexbox-display img {
    width: 150px;
    height: auto;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageTile:hover{
    border: whitesmoke solid 2px;
    height: 300px;
    width: 200px;
}

.flexbox-titles img {
    width: 100px;
    height: 150px;
    margin: 7px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

#top-picks {
    display: flex;
}

#danny-picks {
    display: flex;
}

#taylor-picks {
    display: flex;
}

body {
    background-color: #8f0505;
    /* margin: auto; */
}

#title {
    text-align: center;
    color: whitesmoke;
}

#year-aired {
    text-align: center;
    color: whitesmoke;
}

#description {
    display: flex;
    text-align: start;
    color: whitesmoke;
}

#episode-count {
    text-align: center;
    color: whitesmoke;
}

#display-picks {
    justify-content: space-between;
}

#anime-info {
    justify-content: center;
    align-items: center;
}

button {
    margin: auto;
    display: flex;
    justify-content: center;
    border: 0;
    width:150px;
    color: whitesmoke;
    background: black; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Fantsy copperplate', cursive;
}

#detail-image {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: auto;
}

.display-titles {
    color: whitesmoke;
}

#thick-line {
    margin: 60px;
}


