:root{
    --header-footer-color: black;
    --body-color: #8f0505;
    --text-border-color: whitesmoke;
    --button-color: black;
}

#title_header {
    font-style: italic;
    font-family:  'Segoe UI', Arial, sans-serif;
    font-size: 3rem;
    color: var(--text-border-color);
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    height: 75px;
    width: auto;
}

header {
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer {
    background-color: var(--header-footer-color);
    margin: auto;
    display: flex;
    margin-bottom: 0px;
}

.flexbox-container-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flexbox-titles {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flexbox-container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.flexbox-display {
    border: 3px solid var(--body-color);
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.flexbox-display img {
    width: 150px;
    height: auto;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--text-border-color);
    border-radius: 5px;
}

.imageTile:hover{
    height: 300px;
    width: 200px;
}

.flexbox-titles img {
    width: 100px;
    height: 150px;
    margin: 7px;
    justify-content: flex-start;
    border: 3px solid var(--text-border-color);
    border-radius: 5px;
    display: flex;
}

.bigflex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

#top-picks {
    display: flex;
}

#danny-picks {
    display: flex;
}

#taylor-picks {
    display: flex;
}

body {
    background-color: var(--body-color);
}

#title {
    text-align: center;
    color: var(--text-border-color);
    font-family:  'Segoe UI', Arial, sans-serif;
}

#year-aired {
    text-align: center;
    color: var(--text-border-color);
    font-family:  'Segoe UI', Arial, sans-serif;
}

#description {
    display: flex;
    text-align: center;
    color: var(--text-border-color);
    font-family:  'Segoe UI', Arial, sans-serif;
}

#episode-count {
    text-align: center;
    color: var(--text-border-color);
    font-family:  'Segoe UI', Arial, sans-serif;
}

#display-picks {
    justify-content: space-between;
}

#anime-info {
    justify-content: center;
    align-items: center;
}

h3 {
    font-family:  'Segoe UI', Arial, sans-serif;
}

#watched {
    text-align: center;
    margin-bottom: 7px;
    margin-left: 7px;
    border: 3px solid var(--text-border-color);
    width:150px;
    color: var(--text-border-color);
    background: var(--button-color); 
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family:  'Segoe UI', Arial, sans-serif;
}

#detail-image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 300px;
    height: auto;
}

.display-titles {
    color: var(--text-border-color);
}

#thick-line {
    margin: 60px;
}

#random-button {
    display: flex;
    justify-content: flex; 
}

#random {
    margin: auto;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    border: 3px solid var(--text-border-color);
    width:150px;
    color: var(--text-border-color);
    background: var(--button-color); 
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family:  'Segoe UI', Arial, sans-serif;
}

#add-watch {
    margin-right: 7px;
    margin-bottom: 7px;
    text-align: center;
    margin-bottom: 7px;
    border: 3px solid var(--text-border-color);
    width:150px;
    color: var(--text-border-color);
    background: var(--button-color); 
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family:  'Segoe UI', Arial, sans-serif;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#watchlist {
    display: flex;
}

#header-container {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
}

#color-modes {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    padding: 0;
}

#header-title {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

#moon-pic {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: auto;
}

#sun-pic {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: auto;
}