#title-header {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: whitesmoke;
}

body {
    background-color: #0A0B2B;
}

#title {
    text-align: end;
    color: whitesmoke;
}

#year-aired {
    text-align: end;
    color: whitesmoke;
}

#description {
    text-align: end;
    color: whitesmoke;
}

#episode-count {
    text-align: end;
    color: whitesmoke;
}

#display-picks {
    justify-content: space-between;
}

#anime-info {
    text-align: justify;
}

button {
    border: 0;
    width:150px;
    color: black;
    background: red; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Fantsy copperplate', cursive;
}

#tpicksline {
    margin-right: auto;
}
.display-images img {
    width: 100px;
    height: auto;
    margin: 7px;
}
